div#dashboard__header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  height: 54px;
  width: 100%;
  background-color: rgba(255,255,255, .95);
  // border-bottom: 1px solid #eee;
  z-index: 100;
  button {
    margin: 10px 16px 10px 10px;
  }
  input {
    margin-top: 10px;
  }
  // .logo {
  //   margin: 21px 16px 0 27px;
  //   width: 24px;
  //   height: 24px;
  //   background-size: 24px;
  // }
  .ic {
    margin-top: 10px;
  }
  ul {
    margin-left: 16px;
    flex-grow: 1;
    white-space: nowrap;
    li {
      display: inline-block;
      list-style: none;
      white-space: nowrap;
      margin-right: 16px;
      margin-left: -10px;
      &:last-child {
        margin-right: 0;
      }
      a {
        display: inline-block;
        vertical-align: top;
        line-height: 34px;
        padding: 0 10px;
        margin-top: 10px;
        color: $typeLighter;
        border-radius: 3px;
        &:hover { text-decoration: none }
        &:active { text-decoration: none }
      }
      a.is-active {
        color: inherit;
      }
    }
  }
}

div#dashboard__projects {
  margin: 54px 0 72px 0;
  // &.is-hidden {
  // display: block !important;
  // }
}

div#dashboard__pages {
  margin: 54px 0 72px 0;
  // &.is-hidden {
  // display: block !important;
  // }
}

div#dashboard__items {
  display: block;
  margin-top: 10px;
}

div.dashboard__inner__wrapper {
  max-width: 590px;
  min-width: 280px;
  width: 100%;
  margin: 0 auto 2.4% auto;
}

div.dashboard__title {
  display: flex;
  // max-width: 550px;
  min-width: 280px;
  width: 100%;
  margin: 0 auto;
  // padding: 0 16px;
  display: none;
  h1 {
    line-height: 34px;
  }
}

div.dashboard__status {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px 16px 27px 16px;
  h5 {
    display: inline-block;
    margin: 0;
    line-height: 34px;
    color: $primaryColor;
  }
}

div.dashboard__pages__drafts,
div.dashboard__pages__published {
  div.dashboard__item {
    display: flex;
    justify-content: space-between;
    max-width: 630px;
    width: calc(100% - 32px);
    margin: 0 16px 0 16px;
    padding: 16px 0;
    border-top: 1px solid #eee;
    div.dashboard__item__title {
      display: inline-block;
      h4 {
        display: inline-block;
        vertical-align: middle;
        margin-right: 3px;
      }
    }
    div.dashboard__item__footer {
      display: inline-block;
    }
    span.tag {
      margin-left: 7px;
    }
    span.date {
      color: $typeLighter;
    }
    span.count {
      color: $typeLighter;
      margin-right: 6px;
    }
    &:nth-child(2) {
      border: none;
      padding-top: 0;
    }
  }
}



div.dashboard__projects__drafts,
div.dashboard__projects__reviews,
div.dashboard__projects__published {
  display: block;
  vertical-align: top;
  div.dashboard__item {
    display: flex;
    position: relative;
    width: calc(100% - 32px);
    min-height: 131px;
    padding: 27px 0 27px 0;
    margin: 0 16px;
    border-top: 1px solid #e5e5e5;
    max-width: 630px;
    div.dashboard__item__content {
      min-height: 100px;
      flex-grow: 1;
    }
    div.dashboard__item__title {
      display: flex;
      h3 a {
        display: block;
        border-radius: 3px;
      }
    }
    div.dashboard__item__description {
      padding-top: 10px;
      span {
        color: $typeLighter;
      }
    }
    div.dashboard__item__footer {
      padding-top: 16px;
    }
    div.dashboard__item__image {
      margin: 3px 0 0 27px;
      display: block;
      min-width: 100px;
      height: 95px;
      border-radius: 3px;
      border: none;
      max-height: 100%;
      max-width: 100%;
      background-size: cover;
      background-position: center center;
      font-size: 0;
    }
    &:nth-child(2) {
      border: none;
      padding-top: 0;
    }
  }
}

div.dashboard__item__comments {
  display: inline-block;
  margin-top: -4px;
  padding: 0 16px 0 12px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid $primaryColor;
  span {
    line-height: 34px;
    color: #fff;
    text-shadow: none;
  }
  .ic {
    margin-left: -6px;
  }
}

div.dashboard__item__footer {
  line-height: 21px;
  div.dashboard__item__details {
     display: flex;
     justify-content: space-between;
  }
  div.dashboard__item__date span {
    white-space: nowrap;
    color: $typeLighter;
    margin-right: 6px;
  }
  div.dashboard__item__tags {
    text-align: right;
    font-size: 0;
    span.tag {
      margin: 2px 0 6px 4px;
    }
  }
  div.dashboard__item__user {
    display: block;
    span {
      white-space: normal;
      // color: $typeLighter;
      // &:first-child {
      //   &::before {
      //     content: '\00B7   ';
      //   }
      // }
      &::after {
          content: ', ';
      }
      &:nth-last-child(2) {
        &::after {
            content: ' \00B7  ';
        }
      }
      &:nth-last-child(1) {
        &::after {
            content: '';
        }
      }
    }
  }
}
div.dashboard__item__settings__trigger {
  display: none;
  position: relative;
}
div.dashboard__item__settings {
  position: relative;
  position: absolute;
  top: 34px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 144px;
  padding: 6px 10px 6px 10px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 6px 27px rgba(0, 0, 0, 0.14);
  z-index: 1000;
  a {
    display: inline !important;
  }
  div.ic {
    margin-right: 6px;
  }
  div.triangle {
    top: -14px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    // right: 16px;
  }
}

div.dashboard__more {
  padding: 27px 16px 16px 16px;
}

div#dashboard__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 54px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255,255,255, .95);
  // border-top: 1px solid #eee;
  ul {
    display: flex;
    font-size: 0;
    text-align: center;
    li {
      list-style: none;
      width: 33%;
      a {
        display: inline-block;
        line-height: 50px;
        width: 100%;
      }
    }
  }
}


@media(min-width: 768px ) {
  div#dashboard__items {
    // display: flex;
    // justify-content: center;
    margin-top: 5.4%;
  }
  // div.dashboard__title {
  //   padding: 10px 41px 0 41px;
  // }
  // div.dashboard__inner__wrapper {
  //   padding: 0 27px;
  // }
}
