
// Body
// $body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: "Nunito", sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Colors *BLOCKS
$light: 0.74;
$lighter: 0.54;

// Colors *Types
$typeBlack: rgba(0, 0, 0, 0.85);
$typeLight: rgba(0, 0, 0, 0.74);
$typeLighter: rgba(0, 0, 0, 0.54);

//Colors
$primaryColor: #1BA672;
// $primaryColorLighter: #8ECDAA;
// $primaryColorDarker: #6EB790;

$primaryTypeColor: #09815C;
// $secondaryColor: #EB8740;
// $highlightBorder: rgba(0, 0, 0, .24);
// $highlightColor: rgba(0, 0, 0, .024);
$warningColor: #F74141;


//

$maxSidebarWidth: 414px;
